h1 {
    font-family: 'Sentinel';
    font-weight: 900;
    font-style: italic;
    font-size: 42px;
}

a {
    color: #187384;
}

.main-block {
    display: none;
}

@media (min-width:481px) {

    .main-block {
        height: 100vh;
        height: calc(100vh - 96px);
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        display: block;
    }

    .mobile-img {
        display: none;
    }

}

.container {
    width: 100%;
}

.blue {
    background-color: #CBE1E6;
}

.big-p {
    font-family: 'Crete Round', serif;
    font-size: 32px;
    max-width: 1024px;
    padding: 28px 28px;
    width: 100%;
    margin: auto;
    line-height: 40px;
}

.big-p-blue {
    font-family: 'Crete Round', serif;
    font-size: 42px;
    max-width: 1024px;
    padding: 48px 98px;
    width: 100%;
    margin: auto;
    line-height: 55px;
    color: #187384;
}

.brochure {
    padding: 20px;
}

.brochure > svg {
    width: 100%;
}

.full-width {
    width: 100%;
}

.icon > .label {
    display: none;
}

ol, ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: 12px;
}

.icon.circle {
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
}

.fa-twitter {
background: #70aecd;
    color: #fff;
}

.fa-facebook-f {
    background: #7490c3;
    color:#fff
}

.fa-angellist {
    background: #df7b77;
    color: #fff;
}

.fa-envelope {
    background: #dcad8b;
    color: #fff;
}

.fa-linkedin {
    background: hsl(152, 38%, 63%);
    color: #fff;
}

.icons {
    text-align: center;
    padding: 0;
    margin-top: 100px;
}

.copyright {
    text-align: center;
    padding: 0;
    margin-bottom: 200px;
}

.copyright > li {
    font-family: 'Crete Round', serif;
}

.footer {
    height: 96px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    -webkit-box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.21); 
    box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.21);
}

#footer-logo {
    height: 100%;
    display: inline-block;
    float: left;
}

#appstore-footer {
    padding-right: 2%;
    padding-top: 10px;
    float: right;
}

#playstore-footer {
    padding-top: 10px;
    padding-right: 2%;
    float: right;
}

#footer-wordmark {
    display: none;
}

@media (min-width:481px) {

    #footer-wordmark {
        display: inline-block;
        float: left;
        height: 100%;
    }

}
   