
body {
    font-family: 'Crete Round', 'Georgia', serif;
    font-size: 1em;
    line-height: 1.333em;
    color: #262322;
}

p, h1 {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 1em auto;
}

h1 {
    font-family: 'Sentinel', 'Georgia', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2em;
    line-height: 1em;
    color: #D9583F;
    margin-bottom: .5em;
}

a {
    color: #187384;
}

.container, .full-width {
    width: 100%;
}

.blue, .brochure-container, .brochure {
    background-color: #CBE1E6;
}

.brochure-container h1, p {
    padding:0;
}

.brochure, .text-section {
    padding: 1.5em;
}

.brochure > img {
    width: 100%;
    padding: 1em;
}

.brochure h1 {
    color: #262322;
    font-size: 1.5em;
    text-align: center;
    padding-top: .5em;
}

.main-block, #footer-wordmark, .icon > .label {
    display: none;
}

ol, ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: .333em;
}

li:last-of-type {
    padding-right: 0;
}

.icon.circle {
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1em;
    height: 2em;
    left: 0;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2em;
    color: #fff;
}

.fa-twitter {
    background: #70aecd;
}

.fa-facebook-f {
    background: #7490c3;
}

.fa-angellist {
    background: #df7b77;
}

.fa-envelope {
    background: #dcad8b;
}

.fa-linkedin {
    background: hsl(152, 38%, 63%);
}

.icons, .copyright {
    text-align: center;
    padding: 0;
}

.copyright {
    margin-bottom: 8em;
}

.copyright li {
    display: block;
}

.footer {
    height: 96px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
    -webkit-box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.21); 
    box-shadow: 0px -2px 9px 0px rgba(0,0,0,0.21);
}

#footer-logo {
    height: 100%;
    float: left;
}

#appstore-footer, #playstore-footer {
    padding-right: 2%;
    padding-top: 10px;
    float: right;
}


@media (min-width:481px) {

    body {
        font-size: 2.25em;
    }

    p {
        padding: 0 2em;
    }

    h1 {
        font-size: 2em;
        line-height: 1em;
        padding: 0 1em;
        padding-top: .5em;
    }

    .main-block {
        height: 100vh;
        height: calc(100vh - 96px);
        max-height: 1280px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        display: block;
    }

    .mobile-img {
        display: none;
    }

    #footer-wordmark {
        display: block;
        float: left;
        height: 100%;
    }

    .icon.circle {
        font-size: 1.5em;
    }

    .copyright li {
        display: inline-block;
    }

    .brochure > img {
        max-height: 480px;
    }

}

@media (min-width:1025px) {

    .brochure-container {
        display: flex;
        justify-content: space-evenly;
        margin: 0 2em;
        margin-top: -8em;
    }

    .brochure-container h1, .brochure-container p {
        padding:0;
    }

    .brochure {
        padding: 1em;
    }

    .brochure > img {
        height: 25vw;
        max-height: 500px;
    }

}
