.big-header {
    font-size: 72px;
    padding-top: 40px;
}

.text-section-help {
    padding-top: 0;
}

@media (min-width:481px) {

   p, h3 {
        padding: 0 5%;
    }

    h1 {
        font-size: 2em;
        line-height: 1em;
        padding: 0 5%;
        padding-top: .5em;
    }

   .question {
        font-size: 48px;
        line-height: 48px;
    }

    .big-header {
        font-size: 96px;
    }



}


